<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.example.restassignment.mapper.OneMapper">

 <select id="searchCompany" resultType="com.example.restassignment.model.entity.Com">
	SELECT * from go_company where id= #{id}
 </select> 
  <select id="searchCompanyName" resultType="String">
	SELECT company from go_company where id= #{id}
 </select> 
 <select id="searchSubject" resultType="com.example.restassignment.model.entity.Sub">
	SELECT * from  go_account_subject where company_id= #{id}
 </select>
 
 <delete id="deleteCompany">
 delete from go_company where id = #{id}
 </delete>
 
 <update id="updateCompany" parameterType="com.example.restassignment.model.entity.Com">
 UPDATE go_company 
    <set>
      <if test="created_at != null">created_at=#{created_at},</if>
      <if test="modified_at != null">modified_at=#{modified_at},</if>
      <if test="deleted_at != null">deleted_at=#{deleted_at},</if>
      <if test="companyName != null">companyName=#{companyName},</if>
      <if test="users_total != null">users_total=#{users_total},</if>
      <if test="users_deleted != null">users_deleted=#{users_deleted},</if>
      <if test="users_use != null">users_use=#{users_use},</if>
      <if test="service_avail != null">service_avail=#{service_avail},</if>
      <if test="sync != null">sync=#{sync},</if>
      <if test="sync_kind != null">sync_kind=#{sync_kind},</if>
      <if test="sync_id != null">sync_id=#{sync_id},</if>
      id = id
    </set>
  where id = #{id}
</update>

<insert id="insertCompany" parameterType="com.example.restassignment.model.entity.Com">
INSERT INTO go_company (created_at,modified_at,deleted_at,companyName,users_total,users_deleted,users_use,service_avail,sync,sync_kind,sync_id) VALUES (
		#{created_at},#{modified_at},#{deleted_at},#{companyName},#{users_total},#{users_deleted},#{users_use},#{service_avail},#{sync},#{sync_kind},#{sync_id})
</insert>


<insert id="insertbulkCompany" parameterType="java.util.List">
        INSERT INTO go_company (companyName,users_total,users_deleted,users_use,service_avail,sync,sync_kind,sync_id)
        VALUES
        <foreach collection="list" item="item" index="index" open="(" separator="),("  close=")">
            #{item.companyName},
            #{item.users_total},
            #{item.users_deleted},
            #{item.users_use},
            #{item.service_avail},
            #{item.sync},
            #{item.sync_kind},
            #{item.sync_id}
       </foreach>
</insert>
<insert id="insertbulkSubject" parameterType="java.util.List">
        INSERT INTO go_account_subject (account_system,account_code,account_subject_name_detail,account_subject_name,division,relation_code,relation_account_subject_name_detail)
        VALUES
        <foreach collection="list" item="item" index="index" open="(" separator="),("  close=")">
            #{item.account_system},
            #{item.account_code},
            #{item.account_subject_name_detail},
            #{item.account_subject_name},
            #{item.division},
            #{item.relation_code},
            #{item.relation_account_subject_name_detail},
       </foreach>
</insert>

<insert id="insertSubject" parameterType="com.example.restassignment.model.entity.Sub">
INSERT INTO 
</insert>

</mapper>